body {

    margin: 0;
    font-family: 'Asap', sans-serif;
    background-image: url("Hintergrund_Home.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100%;
    height: 100%;
}

html {

    min-height: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: right;
    height: 120px;
    background-color: #BCBCBC;
    background-image: linear-gradient(#FFFFFF, #A8A8A8);
    box-shadow: 0px 2px 5px #c3c3c3;
}

.boxumProfil:hover, .boxumAErstellen:hover {
    cursor: pointer;
}

.boxumProfil, .boxumAErstellen {

    /* Positionierung der Box */
    position: relative;

    /* Einbetten der Box in den Header */
    height: inherit;
    min-width: 110px;
}

.boxumProfil {
    
    margin-right: 1%;
}

.profil, .aErstellen{

    /* Positionierung der Buttons in der Mitte der Box 'boxumProfil' */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* Groeße des Buttons */
    height: 50%;
    width: 50%;
    max-height: 40px;
    max-width: 40px;

    /* Runder Button */
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
}

.profil {

    background-image: url("Profil_Logo.svg");
    background-size: cover;
    background-color: white;
}

.aErstellen {

    background-image: url("Anleitunghinzufuegen.svg");
    background-size: cover;
    background-color: white;

}

.logocontainer {
    display: flex;
    justify-content: left;
    height: 120px;
    position: absolute;
    top: 0.25%;
    left: 3%;
}

.searchbar {

    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.Suchleiste {

    border-radius: 10px;
    font-size: 16px;
}


/* Bild von Auusserhalb einfuegen */

.BildVonAusserhalb {

    right: 50%;
    top: 50%;
    border: 2px;
}